KRAKEN_API_KEY=
KRAKEN_SECRET=

# OpenStack Environment Variables
OS_AUTH_URL=http://your-controller-node:5000/v3
OS_PROJECT_ID=archangel_project
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_USERNAME=ark
OS_PASSWORD=your_secure_password
OS_REGION_NAME=RegionOne
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3