#cloud-config
package_update: true
packages:
  - python3
  - git
  - python3-pip

runcmd:
  - mkdir -p /opt/archangel
  - cd /opt/archangel
  - echo "Deploying target node assets into OpenStack cloud computing frame..."
